body {
    background-color: #446583 
}
h1 {
    font-family: "Gill Sans", sans-serif;
    color: rgb(231, 150, 0);
    font-size: 8.2em;
    text-align: center;
}
#center {    
    text-align: center;  
}  